body {
    margin: 0px;
}

header a {
    text-decoration: none; /* Elimina el subrayado */
    color: rgba(102, 156, 241, 0.786); /* Establece el color del texto */
    font-family: 'Helvetica-light'; /* Establece la fuente */
}

header h1, header ul, header li {
    display: inline;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    background-color: #462020;
    font-family: 'Helvetica-light';
    color: rgba(102, 156, 241, 0.786);
    font-size: 20px;
    font-style: italic;
    height: 80px;
}

.carrito {
    margin-top: -70px;
    width: 40px;
    margin-left: 1320px;
}


/*NAV*/
#nav {
    width: 250px;
    height: 100vh;
    position: fixed;
    left: -250px;
    top: 0;
    background: #978e8e;
    z-index: 8;
    transition: 0.5s;
}

nav ul li {
    list-style: none;
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin-bottom: 50px;
}


#cart-icon {
    width: 10px; 
}


#boton {
    width: 60px;
    height: 60px;
    position: sticky;
    background-color: transparent;
    text-align: center;
    position: fixed;
    left: 30px;
    top: 15px;
    border-radius: 3px;
    cursor: pointer;
    z-index: 9;
}

#boton img {
    width: 70px;
    margin-top: 7px;
    z-index: -9;
}

.botonInicio {
    font-family: 'Helvetica-light';
    margin-top: 150px;
    justify-content: left;
    align-items: center;
    display: flex;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* Cambia el ancho al 100% para ocupar todo el ancho de la página */
    height: calc(100vh - 80px - 400px); /* Resta el alto del encabezado y del pie de página */
    margin-top: 80px; /* Agrega un margen superior igual al alto del encabezado */
    margin-bottom: 400px;
}

.card-left {
    width:90%; /* La imagen ocupa todo el ancho de la tarjeta */
    margin-right: 200px;
   
}

.card-right {
    width: 100%; /* El texto y el botón también ocupan todo el ancho */
    text-align: right; /* Alinea el texto a la derecha */
    padding-right: 10px; /* Agrega un poco de espacio a la derecha */
    margin-top: -430px;
    margin-left: -40px;
}

.cardImg {
    width: 80%; /* La imagen ocupa todo el ancho de su contenedor */
    max-height: 100%; /* Limita la altura máxima para que no se salga del contenedor */
    object-fit: cover; /* Escala la imagen para cubrir todo el contenedor */
}


.add-to-cart-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.add-to-cart-btn:hover {
    background-color: #0056b3;
}




footer{
    margin-top: 90px;
    padding: 10px 0;               
    background-color: rgb(255, 254, 254);
    top: 0;
    width: 100%;
    text-align: center;               
    font-family: 'Helvetica-light';
    color: rgba(2, 2, 2, 0.786);
    font-size: 15px;
    font-style: italic;
    height: 400px;
    border: 1px solid rgb(4, 3, 3); 
    box-sizing: border-box; 
    
}


#marquee {
    background-color: #9c9494;
    margin-top: 100px;
    height: 50px;
    font-size: 20px;
    font-family: 'Helvetica-light';
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
#marquee span {
    margin-right: 50px; /* Ajusta el espacio entre palabras */
}



#logos {
    width: 15%;

}
