

#imagenHeader { 
    width: 900px;
    margin-left: 190px;
    margin-right: 250px;
    margin-top: -500px;
    margin-bottom: 50px;
    
}


#lupita {
    position: sticky;    /*no me lo deja quieto*/
    background-color: #5d4f7d;                 
    width: 60px;
    margin-left: 1050px;
    margin-right: 390px;
    margin-top: -550px;
    margin-bottom: 70px;
    

}

#carrito {
    position: sticky;    /*no me lo deja quieto*/
    background-color: #5d4f7d;                 
    width: 100px;
    margin-left: 1100px;
    margin-right: 400px;
    margin-top: -500px;
    margin-bottom: 88px;

}

.header {
    position: sticky;    /*no me lo deja quieto*/
    right: 0%;
    left: 0%;
    padding: 0%;
    text-align: center;
    background-color: #5d4f7d;                 /*PORQUE NO LO CAMBIA EL COLOR AL FONDO DEL TEXTO ????*/
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(102, 156, 241, 0.786);
    font-size: 20px;
    height: 90px;
    width: 100% ;
    font-style: italic;

}

.text-over-image {
    position: absolute; 
    right: 0%;
    left: 0%;
    padding: 0%;
    margin-bottom: 500px;
    margin-top: -590px;
    text-align: center;
    color: rgb(25, 7, 7); 
    font-size: 70px; 
    font-family: 'Sailec','Helvetica Neue',Helvetica,Arial,sans-serif; 
    text-align: center;
    background-color: rgb(255, 255, 255); 
    font-weight: bold; 
    
    
}


.text-over-image2 {
    position: absolute; 
    right: 0%;
    left: 0%;
    padding: 0%;
    margin-bottom: 0px;
    margin-top: -500px;
    text-align: center;
    color: rgb(25, 7, 7); 
    font-size: 35px; 
    font-family: 'Sailec','Helvetica Neue',Helvetica,Arial,sans-serif; 
    text-align: center;
    background-color: rgb(255, 255, 255); 
    font-weight: bold; 


}

#imagen1Main {
    width: 300px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 200px;
    margin-bottom: 100px;


}


#bonnerBordo {
    margin-left: -693px;
    margin-right: 700px;
    margin-top: 230px;
    margin-bottom: 500px;
    position: absolute;
    width: 400px;
    border: 2px solid black; 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

#bonnerNegras {
    margin-left: -1095px;
    margin-right: 700px;
    margin-top: 230px;
    margin-bottom: 400px;
    position: absolute;
    width: 400px;
    border: 2px solid black; 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); 
    z-index: 2;
}

#bonnerPlateadas {
    margin-left: -290px;
    margin-right: 700px;
    margin-top: 230px;
    margin-bottom: 400px;
    position: absolute;
    width: 400px;
    border: 2px solid black; 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); 
    z-index: 3;
}


.botonIzquierda {
    margin: 80px;
    position: sticky;    /*no me lo deja quieto*/                 
    width: 500px;
    margin-left: -450px;
    margin-right: 1200px;
    margin-top: -140px;
    margin-bottom: 350px;
    
    
    
}

.botonIzquierda a {
    margin: 500px;
    height: 10px;
    width: 500px;
    color: #462020;
    position: relative;

}

.botonFindOut {
    margin: 70px auto 0;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 600px;
    margin-bottom: 500px;

}

.botonFindOut a {
    width: 300px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px;
    color: #000000;
    border: 0px solid #978e8e;
    position: relative;
    z-index: 7;
    transition: color 0.5s;

}

.botonFindOut a span {
    width: 0%;
    height: 100%;
    position: absolute;
    top:0%;
    left:0%;
    background: #978e8e;
    transition: 0.5s;
    z-index: -7;

}

.botonFindOut a:hover span { 
    width: 100%;
}

.botonFindOut a:hover  {    /*hago que las letras se cambien de color cuando apoyo el mouse*/
    color: white;
}


/*NAV*/
#nav {
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: #978e8e;
    z-index: 8;

}

nav ul li {
    list-style: none;
    margin: 50px 20px;

}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

#boton {
    width: 50px;
    height: 50px;
    position: sticky;    /*no me lo deja quieto*/
    background-color: #978e8e;   
    text-align: center;
    position: fixed;   
    left: 30px;
    top: 15px;           
    border-radius: 3px;
    cursor: pointer;  
    z-index: 9;
}


#boton img{   /*agrando la imagen del boton*/
    width: 50px;
    margin-top: 15px;
    z-index: -9;

}





@media screen and (min-width: 600px) {

.container {  
    display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
gap: 0px 0px;
grid-auto-flow: row; 
grid-template-areas: 
"header header header"
"main main main"
"main main main"
"main main main"
"footer footer footer";
}


.header { grid-area: header; background-color: #462020;}
      
.main { grid-area: main; background-color: #ffffff;}

.main2 { grid-area: 3 / 1 / 4 / 4; background-color: aqua;}
      
.footer { grid-area: footer; background-color: #424c55;}

    
}






body {
    background-color: rgb(255, 255, 255)
}