body{
    margin:0px;
}

header h1,header ul, header li{
    display: inline;
    
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    background-color: #462020;                 
    font-family: 'Helvetica-light';
    color: rgba(102, 156, 241, 0.786);
    font-size: 20px;
    font-style: italic;
    height: 80px;
}

#Destacada {
    margin-top:200px ;
    display: flex;
    justify-content: center;
    flex-direction: column; /* Agregado para que los elementos estén en columna */
    align-items: center; /* Opcional: centrar horizontalmente los elementos */
 
  
}

#imgDestacada {
    width: 70%; /* Ajustado para ocupar todo el ancho del contenedor */
    justify-content: center;
    margin-bottom: 100px;
    
}

#top10 {
    text-align: center;
}

.comprar {
    
    display: flex;
    justify-content: flex-end; /* Alinea el enlace a la derecha */
    align-items: center; /* Alinea verticalmente con el texto */
}

#cardstops10 {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Alinea las tarjetas horizontalmente en el centro */
    flex-wrap: wrap ;
    row-gap: 20px;
}

.card {
    border: 1px solid rgb(4, 3, 3);
    border-radius: 0%;
    padding: 10px;
    max-width: 300px; /* Establece un ancho máximo para cada tarjeta */
    margin: 0 10px; /* Agrega un espacio horizontal entre las tarjetas */
}

.cardImg{
    width: 300px;
}



.texto {
    font-size: 100px; 
    font-family: 'Sailec','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: bold;
    margin-top: -60px;

}


.texto1 {
    font-family: 'Sailec','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 50px;

}



.comprar {
    margin-right: 20px;

}


#boton {
    width: 60px;
    height: 60px;
    position: sticky;    /*no me lo deja quieto*/
    background-color: transparent;   
    text-align: center;
    position: fixed;   
    left: 30px;
    top: 15px;           
    border-radius: 3px;
    cursor: pointer;  
    z-index: 9;
}


#boton img{   /*agrando la imagen del boton*/
    width: 70px;
    margin-top: 7px;
    z-index: -9;

}

/*NAV*/
#nav {
    width: 250px;
    height: 100vh;
    position: fixed;
    left: -250px;
    top: 0;
    background: #978e8e;
    z-index: 8;
    transition: 0.5s;

}

nav ul li {
    list-style: none;
    margin: 50px 20px;

}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}





footer{
    margin-top: 50px;
    padding: 20px 0;               /*este hizo que se centre el texto*/
    background-color: grey;
    top: 0;
    width: 100%;
    text-align: center;               
    font-family: 'Helvetica-light';
    color: rgba(2, 2, 2, 0.786);
    font-size: 20px;
    font-style: italic;
    height: 60px;
    white-space: pre;

}

marquee span {
    margin-right: 60px;
  }

